<app-table [tableData]="tableData" [title]="title" (editEvent)="editHalqua($event)"
  (deleteEvent)="deleteHalqua($event)"></app-table>

<a class="fab-btn btn btn-dark rounded-circle shadow-lg" (click)="add()">
  <i class="fas fa-plus"></i>
</a>

<div class="modal fade" id="frmModal" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <app-voucherForm [title]="title" (frmData)="saveVoucher($event)"></app-voucherForm>
  </div>
</div>