<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{title}} Form</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="frm">
      <div class="row">
        <div class="col-sm-12">
          <label class="form-label">Question <small>*</small></label>
          <input class="form-control form-control-sm" placeholder="Question" formControlName="question">
          @if(f.question.touched && f.question.invalid){
          @if(f.question.errors?.['required']){
          <small>Question is required.</small>
          }
          }
        </div>
        <div class="col-sm-12 mt-3">
          <label class="form-label">answer <small>*</small></label>
          <textarea rows="5" class="form-control form-control-sm" placeholder="Answer" formControlName="answer"></textarea>
          @if(f.answer.touched && f.answer.invalid){
          @if(f.answer.errors?.['required']){
          <small>Answer is required.</small>
          }
          }
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="save()">Save</button>
  </div>
</div>