<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <h3 class="card-title">{{title}}</h3>
      <div class="card-tools ms-auto">
        <div class="input-group input-group-sm">
          <input type="text" name="table_search" [(ngModel)]="search" class="form-control float-right"
            placeholder="Search" autocomplete="off">
          <i class="fa fa-file-excel float-right ml-3 fs-4" (click)="downloadExcel()"></i>

        </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 5%;">Sr. No</th>
            @for(item of tableData.header; track item){
            <th>{{item.name}} 
              <i class="fa" [ngClass]="item.sortDirection == 'asc' ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc'" (click)="sort(item)"></i>
            </th>
            <!-- <th>{{item.name}}</th> -->
            }
            <th style="width: 5%;">Action</th>
          </tr>
        </thead>
        <tbody>
          @for(item of tableData.data | filter:search; track item; let i = $index){
          <tr>
            <td>{{i+1}}</td>
            @for(obj of tableData.header; track obj){
            <td>{{item[obj.key]}}</td>
            }
            <td>
              <i class="fa fa-edit" (click)="edit(item)"></i>
              <!-- <i class="fa fa-trash" (click)="delete(item)"></i> -->
              @if(title == 'Expense'){
              <i class="fa fa-share ml-3" (click)="nextPage(item)"></i>
              }
              @if(title == 'Voucher' || title == 'Receipt'){
              <i class="fa fa-file-image ml-3" (click)="viewImage(item)"></i>
              }
            </td>

          </tr>
          }
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
    <!-- <div class="card-footer clearfix">
      <ul class="pagination pagination-sm m-0 float-end">
        <li class="page-item"><a class="page-link" href="#">«</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">»</a></li>
      </ul>
    </div> -->
  </div>
</div>


<div class="modal fade" id="modal">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{img}}" class="img-fluid" alt="{{img}}">
      </div>
    </div>
  </div>
</div>