<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{title}} Form</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">

    <form [formGroup]="frm">
      <div class="row">
        <div class="col-12">
          <label class="form-label">Expense Sub <small>*</small></label>
          <input class="form-control form-control-sm" placeholder="Expense Sub" formControlName="expenseSub">
            @if(f.expenseSub.touched && f.expenseSub.invalid){
          @if(f.expenseSub.errors?.['required']){
          <small>Expense Sub is required.</small>
          }
          }
        </div>
        <!-- <div class="col-12 mt-3">
          <label class="form-label">Bucket <small>*</small></label>
          <input class="form-control form-control-sm" placeholder="Bucket" formControlName="fromBucket">
            @if(f.fromBucket.touched && f.fromBucket.invalid){
          @if(f.fromBucket.errors?.['required']){
          <small>Bucket is required.</small>
          }
          }
        </div> -->
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="save()">Save</button>
  </div>
</div>