<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">AB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a routerLink="/home" class="nav-link" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/voucher" routerLinkActive="active">Voucher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/receipt" routerLinkActive="active">Receipt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/report" routerLinkActive="active">Report</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="masterMenu" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Masters
          </a>
          <ul class="dropdown-menu" aria-labelledby="masterMenu">
            <li>
              <a class="dropdown-item" routerLink="/halqua">Halqua</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/unit">Unit</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/circle">Circle</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/income">Income</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/expense">Expense</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/book">Books</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/user">User</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faq" routerLinkActive="active">FAQ</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 profile-menu">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-regular fa-circle-user"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/profile"><i class="fa-regular fa-user fa-fw"></i>
                Profile</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item point" (click)="logOut()"><i class="fas fa-sign-out-alt fa-fw"></i>LogOut</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>