<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="login-card border">
    <h3 class="text-center mb-4">Login</h3>
    <form>
      <div class="mb-3">
        <label for="text" class="form-label">Mobile No</label>
        <input
          [(ngModel)]="userObj.contact"
          name="contact"
          type="text"
          class="form-control"
          placeholder="Enter you mobile no"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          [(ngModel)]="userObj.password"
          name="password"
          type="password"
          class="form-control"
          placeholder="Enter password"
        />
      </div>
      <div class="d-grid">
        <button type="button" class="btn btn-primary" (click)="login()">Login</button>
      </div>
    </form>
  </div>
</div>
