<div class="page-b">
  <label style="font-size: 50px;">Apnaa bajaar</label>
  <p>vaahna maoLavaa yaova,laa raoD, kaoprgaaMva, ija.A.nagar ipna 423601</p>
  <p>saMpk-: <span>9960904666, 9975096666</span></p>
  <hr style="border: 1px solid;">
  <div style="display: flex;">
    <div style="width: 25%;text-align: justify;margin-left: 10px;">
      <p>idnaak: <span style="font-weight: normal !important;">25-Jan-2023</span></p>
      <p><span style="font-weight: normal !important;">NOC</span> doNaar naahI</p>
    </div>
    <div style="width: 50%;font-size: 30px;">µ vaahna KrIdI va ivaËI krarnaamaa µ</div>
    <div style="width: 25%;">
      <p>vaoL: <span style="font-weight: normal !important;">4:38:29 PM</span></p>
    </div>
  </div>
  <hr style="border: 1px solid;">
  <div style="display: flex;">
    <div style="width: 75%;text-align: justify;margin-left: 10px;line-height: 35px;">
      <p>EaI. : <span style="font-weight: normal !important;">मोसिन हा महेमुइ भाई सय्यद</span></p>
      <p>mau. pao : <span style="font-weight: normal !important;">कोपरगाव जि.अ. नगर</span></p>
      <p>AaQaar naM : <span style="font-weight: normal !important;">7895 4568 4562</span></p>
      <p>maao. naM : <span style="font-weight: normal !important;">98745 65423</span></p>
    </div>
    <div style="width: 25%;font-size: 30px;">
      <p>vaahna ivaËI karNaara</p>
      <img src="/assets/capture-img.png" style="width: 130px;">
    </div>
    <div style="width: 25%;font-size: 30px;">
      <p>saaixadar</p>
      <img src="/assets/capture-img.png" style="width: 130px;">
    </div>
  </div>
  <hr style="border: 1px solid;">
  <div style="display: flex;">
    <div style="width: 75%;text-align: justify;margin-left: 10px;line-height: 35px;">
      <p>EaI. : <span style="font-weight: normal !important;">मोसिन हा महेमुइ भाई सय्यद</span></p>
      <p>mau. pao : <span style="font-weight: normal !important;">कोपरगाव जि.अ. नगर</span></p>
      <p>AaQaar naM : <span style="font-weight: normal !important;">7895 4568 4562</span></p>
      <p>maao. naM : <span style="font-weight: normal !important;">98745 65423</span></p>
    </div>
    <div style="width: 25%;font-size: 30px;">
      <p>vaahna KrodI karNaara</p>
      <img src="/assets/capture-img.png" style="width: 130px;">
    </div>
    <div style="width: 25%;font-size: 30px;">
      <p>saaixadar</p>
      <img src="/assets/capture-img.png" style="width: 130px;">
    </div>
  </div>
  <hr style="border: 1px solid;">
  <div style="padding: 10px;">
    <table>
      <tr>
        <td>gaaDI naM</td>
        <td>maa^Dola</td>
        <td>klar</td>
        <td>caosaI naM</td>
        <td>[Mijana naM</td>
      </tr>
      <tr>
        <td><span style="font-weight: normal !important;">MH 15 BG 2001</span></td>
        <td><span style="font-weight: normal !important;">2015</span></td>
        <td><span style="font-weight: normal !important;">काळा लाल</span></td>
        <td><span style="font-weight: normal !important;">23903</span></td>
        <td><span style="font-weight: normal !important;">62120</span></td>
      </tr>
    </table>
    <br>
    <table>
      <tr>
        <td>gaaDI kMpanaIcao naava</td>
        <td>bakÐcaa baaoja,a</td>
        <td>saaOda</td>
        <td>ADvhansa</td>
        <td>baakI</td>
      </tr>
      <tr>
        <td><span style="font-weight: normal !important;">2015</span></td>
        <td><span style="font-weight: normal !important;">नाही</span></td>
        <td><span style="font-weight: normal !important;">43000</span></td>
        <td><span style="font-weight: normal !important;">19000</span></td>
        <td><span style="font-weight: normal !important;">24000</span></td>
      </tr>
    </table>
  </div>
  <hr style="border: 1px solid;">
  <p style="text-align: justify;padding: 10px;font-size: 22px;">yaa vaNaa^cao vaahna <span
      style="font-weight: normal !important;">(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</span>
    yaManaa kayama sva$pI ivakt idlaolao Aaho. maaJyaa tabyaat vaahna Gaotlaolao Aaho. AajapasaUna yaa gaaDIcaI saMpUNa-
    jabaabadarI maaJaI svat:caI rahIla.
    sadr gaaDI maI AajapasaUna maaJyaa tabyaat GaotlaolaI Aaho. hI gaaDI saMpUNa-pNao maI Ka~I k$na Aaja idnaaMk.<span
      style="font-weight: normal !important;">15/12/2025</span>
    vaoL <span style="font-weight: normal !important;">4:38:29 PM</span>
    GaotlaolaI Aaho. yaapuzo idlaolyaa tarKocyaa Aat saMpUNa- kayadoSaIr kagadp~ pUNa- krNyaacaI jabaabadarI KrodI
    krNaaravar rahIla.
    <br>
    <label style="font-size: 25px;">vyavahar pUNa- krNyaacaI tarIK:</label><br>
    1´ saaxaIdar :
    <br>
    2´ GaoNaay`aacaa saaxaIdar naava va p%ta :
  </p>
</div>