.form-label {
  margin-bottom: 0;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(13, 110, 253, 0.25);
}

.img-box {
  display: inline-flex;
  flex-direction: column;
  width: 48%;
  margin-right: 16px;
}

.img-box button {
  border: none;
  background-color: #000;
  color: #fff;
}
