<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{title}} Form</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="frm">
      <div class="row">
        <div class="col-sm-4">
          <label class="form-label">First Name <small>*</small></label>
          <input class="form-control form-control-sm" placeholder="First Name" formControlName="firstName">
           @if(f.firstName.touched && f.firstName.invalid){
          @if(f.firstName.errors?.['required']){
          <small>First name is required.</small>
          }
          }
        </div>
        <div class="col-sm-4">
          <label class="form-label">Middle Name <small>*</small></label>
          <input class="form-control form-control-sm" placeholder="Middle Name" formControlName="middleName">
           @if(f.middleName.touched && f.middleName.invalid){
          @if(f.middleName.errors?.['required']){
          <small>Middle name is required.</small>
          }
          }
        </div>
        <div class="col-sm-4">
          <label class="form-label">Surname <small>*</small></label>
          <input class="form-control form-control-sm" placeholder="Surname" formControlName="lastName">
           @if(f.lastName.touched && f.lastName.invalid){
          @if(f.lastName.errors?.['required']){
          <small>Surname is required.</small>
          }
          }
        </div>
        <div class="col-sm-6 mt-3">
          <label class="form-label">Contact No <small>*</small></label>
          <input class="form-control form-control-sm" placeholder="Contact No" formControlName="contact">
           @if(f.contact.touched && f.contact.invalid){
          @if(f.contact.errors?.['required']){
          <small>Contact no is required.</small>
          }
          }
        </div>
        <div class="col-sm-6 mt-3">
          <label class="form-label">Password <small>*</small></label>
          <input class="form-control form-control-sm" placeholder="Password" type="password" formControlName="password">
           @if(f.password.touched && f.password.invalid){
          @if(f.password.errors?.['required']){
          <small>Password is required.</small>
          }
          }
        </div>
        <div class="col-6 mt-3">
          <label class="form-label">Select halqua <small>*</small></label>
          <select class="form-select form-select-sm" formControlName="halquaId" (change)="getUnit()">
            <option selected>Select halqua</option>
            @for(item of halquaList; track item){
            <option value="{{item._id}}">{{item.name}}</option>
            }
          </select>
           @if(f.halquaId.touched && f.halquaId.invalid){
          @if(f.halquaId.errors?.['required']){
          <small>Halqua selection is required.</small>
          }
          }
        </div>
        <div class="col-6 mt-3">
          <label class="form-label">Select Unit <small>*</small></label>
          <select class="form-select form-select-sm" formControlName="unitId" (change)="getCircle()">
            <option selected>Select unit</option>
            @for(item of unitList; track item){
            <option value="{{item._id}}">{{item.name}}</option>
            }
          </select>
           @if(f.unitId.touched && f.unitId.invalid){
          @if(f.unitId.errors?.['required']){
          <small>Unit selection is required.</small>
          }
          }
        </div>
        <div class="col-6 mt-3">
          <label class="form-label">Select Circle <small>*</small></label>
          <select class="form-select form-select-sm" formControlName="circleId">
            <option selected>Select circle</option>
            @for(item of circleList; track item){
            <option value="{{item._id}}">{{item.name}}</option>
            }
          </select>
           @if(f.circleId.touched && f.circleId.invalid){
          @if(f.circleId.errors?.['required']){
          <small>Circle selection is required.</small>
          }
          }
        </div>
        <div class="col-6 mt-3">
          <label class="form-label">Select Role <small>*</small></label>
          <select class="form-select form-select-sm" formControlName="roleId">
            <option selected>Select Role</option>
            @for(item of roleList; track item){
            <option value="{{item._id}}">{{item.role}}</option>
            }
          </select>
           @if(f.roleId.touched && f.roleId.invalid){
          @if(f.roleId.errors?.['required']){
          <small>Role selection is required.</small>
          }
          }
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="save()">Save</button>
  </div>
</div>